body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #363232;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #1e3a8a;
    color: white;
    padding: 15px 30px;
    max-width: 800px;
    margin: 20px auto; 
    border-radius: 15px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.paginas {
    display: flex;
    gap: 15px; 
}

.paginas a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.paginas a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: cornsilk;
}

.datos {
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(160, 155, 155, 0.719);
}

h2 {
    color: #1e3a8a;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 2px 0;
    font-size: 15px;
}

.datos {
    max-width: 700px;
    margin: 25px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.datos h2 {
    color: #1e3a8a;
    margin-bottom: 10px;
}

.datos p {
    line-height: 1.7;
}

.datos ul {
    padding-left: 20px;
}

.datos ul li {
    margin-bottom: 8px;
}
